{% extends 'base.html.twig' %}

{% block title %}List of Server{% endblock %}

{% block body %}
<div class="container">

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Status</th>
            <th scope="col">Ip Address</th>
            <th scope="col">Creation Date</th>
            <th scope="col">Modification Date</th>

        </tr>
        </thead>
    <tbody>
        {% for server in servers %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ server.id }}</td>
                <td>{{ server.active ? "Active" : "Inactive" }}</td>
                <td>{{ server.address }}</td>
                <td>{{ server.creationDate }}</td>
                <td>{{ server.modificationDate }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
